<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:msql://localhost:3306/myhiber</property>
        <property name="connnection.username">root</property>
        <property name="connection.password">root</property>
        <!--Each DB hav different dialect so we shall declare it here as well-->
        <property name="dialect">org.hibernate.dialect.mySQL5Dialect</property>
        <!--Table ho toh update krega nhi toh create krega but agr create likha toh hr bar table create krega-->
        <!--<property name="hbm2ddl.auto">create</property> it'll be drop the pre existing table and will create a fresh one-->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="fromat_sql">true</property>
        <!--We need to give fully qualified name in here for mapping-->
        <mapping class="com.tut.StudentEntityClass /"></mapping>
        <mapping class="com.tut.Address /"></mapping>
        <mapping class="com.map.AnswerEntity /"></mapping>
        <mapping class="com.map.QuestionEntity /"></mapping>
        <!--We can use various other properties as well-->
    </session-factory>
</hibernate-configuration>

